.blogpost {
    padding-top: 120px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogpost .title {
    background-color: var(--bg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogpost .title div {
    flex-grow: 1;
    min-height: 126px;
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: 710px;
    margin-left: 330px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.blogpost .title h1 {
    font-family: var(--fontHead);
    font-size: 40px;
}
.blogpost .title date {
    color: var(--textCon);
    font-size: 20px;
    font-weight: 900;
}
.blogpost .content {
    text-align: justify;
    padding: 40px;
    max-width: 1000px;
}
.blogpost .content img {
    margin-top: -207px;
    margin-right: 40px;
    margin-bottom: 30px;
    float: left;
    width: 250px;
    height: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 5px 5px 0px var(--bg);
}
.blogpost .content p {
    color: var(--bg);
    font-size: 25px;
}