#aktuelles {padding-top: 40px}
.blogpost {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogpost #back {
    position: absolute;
    color: var(--text);
    height: 80px;
}
.blogpost .titleDiv {
    background-color: var(--bg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogpost .titleDiv .title {
    width: 100%;
    min-height: 126px;
    padding-top: 80px;
    padding-bottom: 40px;
    max-width: 710px;
    margin-left: 330px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}
.blogpost .titleDiv .title h1 {
    font-family: var(--fontHead);
    font-size: 40px;
}
.blogpost .titleDiv .title date {
    color: var(--textCon);
    font-size: 20px;
    font-weight: 900;
}
.blogpost .content {
    text-align: justify;
    width: 100%;
    max-width: 1080px;
}
.blogpost .content img {
    margin: 40px;
    margin-top: -167px;
    margin-bottom: 30px;
    float: left;
    width: 250px;
    height: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 5px 5px 0px var(--bg);
}
.blogpost .content p {
    padding: 40px;
    color: var(--bg);
    font-size: 25px;
}