.abstand {display: none;}
#intro {
    padding-bottom: 3rem;
    top: 100px;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);
    padding-top: 0px;

    img {
        display: block;
        z-index: 495;
        width: 100%;
    }
    .head {
        padding: 2rem 0 1rem;
        font-size: 2rem;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    div p {
        font-size: 1.25rem;
        margin-bottom: .2rem;
    }
}

.article-short {
    padding: .5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        flex-basis: 8rem;
        width: 7rem;
        height: 7rem;
        box-shadow: .175rem .175rem 0 var(--text);
    }
    article {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        overflow: hidden;

        .head {
            width: 100%;
            font-size: 1.25rem;
            line-height: 2rem;
            margin-bottom: -.5rem;
            overflow: visible;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: hidden;
        }
        .head:hover {text-decoration: underline;}
        .date {
            font-size: .75rem;
            line-height: .75rem;
            color: var(--textCon);
        }
        p {
            max-height: 3.5rem;
            font-size: .875rem;
            line-height: 1.125rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .button {
            font-size: .875rem;
        }
    }
}

article.eventInfo {
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
article.eventInfo svg {
    height: 40px;
    width: 40px;
}
article.eventInfo p {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 30px;
}


@media only screen and (min-width: 1300px) {
    #heroM {
        /*display: none;*/
        aspect-ratio: 50 / 17;
        object-fit: cover;
        object-position: center 42%;
    }
    #intro {
        padding-bottom: 0px;
    }
    #intro .slogan {
        z-index: 496;
        background-color: var(--invis);
        margin-top: -240px;
        padding-bottom: 0px;
    }
    #intro div {
        z-index: 496;
    }

    

    .standartCol {
        color: var(--bg);
        background-color: var(--text);
    }
    .standartCol .secTitle {
        color: var(--bg);
    }
    .standartCol article img {
        box-shadow: 5px 5px 0px var(--bg);
    }
    .artShort.standartCol article div date {
        color: var(--bgCon);
    }
    .standartCol .button {
        color: var(--bg);
        background-color: var(--text);
        box-shadow: 5px 5px 0px var(--bg);
        border-color: var(--bg);
    }

    .reverseCol {
        color: var(--text);
        background-color: var(--bg);
    }
    .reverseCol .secTitle {
        color: var(--text);
    }
    .reverseCol article img {
        box-shadow: 5px 5px 0px var(--text);
    }
    .reverseCol article div date {
        color: var(--textCon);
    }
    .artShort .button.reverseCol {
        color: var(--text);
        background-color: var(--bg);
        box-shadow: 5px 5px 0px var(--text);
        border-color: var(--text);
    }
}
