.abstand {display: none;}
#intro {
    padding-bottom: 3rem;
    top: 100px;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);
    padding-top: 0px;

    img {
        z-index: 495;
        width: 100%;
    }
    .slogan {
        padding: 2rem 0 1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        font-family: var(--fontHead);
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    div p {
        font-size: 1.5rem;
        margin-bottom: .4rem;
    }
}

article.eventInfo {
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
article.eventInfo svg {
    height: 40px;
    width: 40px;
}
article.eventInfo p {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 30px;
}

#heroM {
    display: block;
}


@media only screen and (min-width: 1300px) {
    #heroM {
        /*display: none;*/
        aspect-ratio: 50 / 17;
        object-fit: cover;
        object-position: center 42%;
    }
    /*#hero {
        display: block;
    }*/
    #intro {
        padding-bottom: 0px;
    }
    #intro .slogan {
        z-index: 496;
        background-color: var(--invis);
        margin-top: -240px;
        padding-bottom: 0px;
    }
    #intro div {
        z-index: 496;
    }

    

    .standartCol {
        color: var(--bg);
        background-color: var(--text);
    }
    .standartCol .secTitle {
        color: var(--bg);
    }
    .standartCol article img {
        box-shadow: 5px 5px 0px var(--bg);
    }
    .artShort.standartCol article div date {
        color: var(--bgCon);
    }
    .standartCol .button {
        color: var(--bg);
        background-color: var(--text);
        box-shadow: 5px 5px 0px var(--bg);
        border-color: var(--bg);
    }

    .reverseCol {
        color: var(--text);
        background-color: var(--bg);
    }
    .reverseCol .secTitle {
        color: var(--text);
    }
    .reverseCol article img {
        box-shadow: 5px 5px 0px var(--text);
    }
    .reverseCol article div date {
        color: var(--textCon);
    }
    .artShort .button.reverseCol {
        color: var(--text);
        background-color: var(--bg);
        box-shadow: 5px 5px 0px var(--text);
        border-color: var(--text);
    }

    footer {
        padding-top: 40px;
    }
}
