#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 4975;
    background-color: var(--blackShade);
    display: none;
    flex-direction: column;
    color: var(--bg);
    align-items: center;
    justify-content: center;
    gap: 60px;
}
#menu p {
    font-size: 50px;
    text-align: center;
}
#menu p:hover {
    text-decoration: underline;
}
#menu p a {
    text-decoration: none;
    color: var(--bg);
}
#menu .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#menu .social svg {
    color: var(--bg);
}