:root {
    --bg: var(--white);
    --bgCon: var(--whiteCon);
    --text: var(--schwatz);
    --textCon: var(--schwatzCon);
    --main: var(--red);
    --contrast: var(--orange);

    --white: #e2e5e9;
    --whiteCon: #8a8b8b;
    --orange: #f38600;;
    --red: #da2c00;
    --schwatz: #000000;
    --schwatzCon: #3f3f3f;

    --invis: rgba(32, 67, 112, 0);
    --blackShade: rgba(0, 0, 0, 0.818);

    --fontStandart: "PT Sans", sans-serif;
    --fontHead: "Special Elite", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    /*background-color: #2f3136;*/
    /*font-family: trebuchet ms, sans-serif;*/
    color: var(--text);
    background-color: var(--text);
    -webkit-font-smoothing: antialiased;
    font-family: var(--fontStandart);
}

* {
    margin: 0;
    padding: 0;
}

.null {
    display: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



section {
    display: flex;
    z-index: 500;
    padding-top: 100px;
    padding-bottom: 100px;
}

button, .button {
    color: var(--text);
    background-color: var(--bg);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 0px var(--text);
    font-weight: 800;
    font-size: 23px;
    width: fit-content;
    outline: none;
    border: 1px solid var(--text);
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button svg, .button svg {
    height: 29px;
    width: 29px;
}

p {
    font-size: 23px;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
    text-decoration-color: currentColor;
}


.artShort {
    flex-direction: column;
    background-color: var(--bg);
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.artShort .secTitle {
    text-align: center;
    font-family: var(--fontHead);
    color: var(--text);
    font-size: 60px;
}
.artShort article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1000px;
}
.artShort article img {
    float: left;
    width: 250px;
    flex-basis: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 5px 5px 0px var(--text);
}
.artShort article .noShadow {
    box-shadow: none;
}
.artShort article div {
    height: 250px;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.artShort article div .title {
    margin-top: -4px;
    padding-top: 4px;
    font-size: 30px;
    flex-basis: 30px;
    height: 34px;
    min-height: 34px;
    max-width: calc(100vw - 370px)!important;
    font-family: var(--fontHead);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}
.artShort article div a > .title:hover {
    text-decoration: underline;
}
.artShort article div date {
    font-size: 20px;
    font-weight: 400;
    flex-basis: 26px;
    color: var(--textCon);
    margin-top: -18px;
    margin-bottom: -18px;
}
.artShort article div p {
    text-overflow: ellipsis;
    overflow: hidden;
}
.artShort article div .button {
    flex-basis: 29px;
}


.reverseCol {
    color: var(--bg);
    background-color: var(--text);
}
.reverseCol .secTitle {
    color: var(--bg);
}
.reverseCol article img {
    box-shadow: 5px 5px 0px var(--bg);
}
.reverseCol article div date {
    color: var(--bgCon);
}
.button.reverseCol {
    color: var(--bg);
    background-color: var(--text);
    box-shadow: 5px 5px 0px var(--bg);
    border-color: var(--bg);
}

#back {
    color: var(--bg);
    cursor: pointer;
    width: 100%;
    height: 40px;
    max-width: 1080px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: center;
}
#back svg {
    margin-left: 40px;
}
#back:hover {
    text-decoration: underline;
}

.inWork {
    margin: 40px;
    border: 1px solid var(--bg);
    box-shadow: 5px 5px 0px var(--bg);
    max-width: 1000px;
    display: flex;
    gap: 10px;
    padding: 40px;
    color: var(--bg);
    align-items: center;
    flex-direction: column;
    justify-self: center;
}
.inWork svg {
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--bg);
    color: var(--text);
}
.inWork p {
    max-width: 400px;
    text-align: center;
    width:fit-content;
}
