#hero {
    flex-direction: column;
    background-color: var(--text);
    color: var(--bg);
    padding: 0px;
}
#hero img {
    z-index: 495;
    width: 100%;
    display: block;
    aspect-ratio: 50 / 30;
    object-fit: cover;
    object-position: 32% 0;
}

#members article {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#members article .grid {
    margin-top: 40px;
    align-self: center;
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    max-width: 1000px;
}
#members article .grid div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: solid 2px var(--bg);
    max-width: 500px;
    align-items: center;
}
#members article .grid div img {
    aspect-ratio: 2643 / 3304;
    object-fit: cover;
    width: 100%;
    height: auto;
}
#members article .grid div .title {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
    align-self: center;
}
#members article .grid div .label {
    padding: 0;
    color: var(--bg);
}


@media only screen and (min-width: 1300px) {
    #hero img {
        aspect-ratio: 645 / 190;
        object-fit: cover;
        object-position: center 0;
    }

    #members article .grid {
        grid-template-columns: auto auto;
    }
}